.footer {
  width: 100%;
  background-color: rgb(102, 101, 101);
  padding: 20px 0;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.footer .heart {
  color: red;
  animation: heartbeat 1.3s infinite;
}

/* Heart beat animation */
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.3);
  }
  40% {
    transform: scale(1);
  }
}
